.board {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* 10 columns */
  grid-template-rows: repeat(20, 30px); /* 20 rows */
  grid-gap: 1px;
  background: black;
}

.cell {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  background-color: white;
}
